@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre&display=swap');
body{
    font-family: 'Averia Sans Libre', cursive;
}

/* HEADER */

  .topnav {
    overflow: hidden;
    background-color: #3772FF;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
 
  .topnav a {
    float: left;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
  }
  
  .topnav a.icon {
    float: right;
  }
  
  .topnav a:hover {
    background-color: #70E4EF;
    color: black;
  }
  
  .active {
    background-color: #EF709D;
    color: white;
  }


/* FORMULAIRE  */
#signInMsg, #signUpMsg {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
#formDisplayDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin : 12% 0 0 0;
    background-color: #70E4EF;
}

#signInForm, #signUpForm {
    display: flex;
    flex-direction: column;
    width: 150px;
    padding: 15px;
    margin: auto;
    padding: 5%;
    
    
}

#signInForm input, #signUpForm input {
    margin: 5px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-family: 'Averia Sans Libre', cursive;

}

#signInForm button, #signUpForm button {
    margin: 5px;
    padding: 5px;
    border: none;
    background-color: #EF709D;
    font-family: 'Averia Sans Libre', cursive;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    
    
}